body {
    margin: 0;
    overflow: hidden;
    background-image: url(imagenes/Menu.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente que usarás en el CSS */
    src: url('fuente/SF\ Distant\ Galaxy\ Italic.ttf') format('truetype'); /* Ruta a la fuente */
    font-weight: normal;
    font-style: normal;
}

#start-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente para contraste */
    color: white;
    font-family: 'MiFuente'; /* Fuente personalizada */
    z-index: 100; /* Aseguramos que el menú esté encima del fondo */
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

/* Estilos para los botones */
.level-button {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'MiFuente';
}

.level-button:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

#scoreboard {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

#damage-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    z-index: 9999;
}

#mute-button {
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mute-button:hover {
    background-color: #666;
}
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
.enemy {
    position: absolute;
    transition: all 0.3s ease;
    user-select: none; 
}


